.places {
	display: flex;
	flex-direction: column;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

.wrapper1,
.wrapper2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.places h1 {
	margin-left: 20px;
	font-size: 30px;
	text-align: left;
	vertical-align: top;
}

.places h2 {
	font-size: 30px;
	text-align: center;
	margin: 0;
}

/* Seperator */

.wrapper3 {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: 60px;
}

.wrapper3 div {
	border: 4px solid #FF5A5F;
	border-radius: 100%;
	min-width: 60px;
	height: 60px;
	position: absolute;
	right: 0;
	top: 0;
	align-items: center;
	justify-content: center;
	color: #FF5A5F;
	font-size: 30px;
	padding: 2%;
}

.price_by_night p {
	position: relative;
	top: -27%;
	text-align: center;
}
.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	display: flex;
	align-items: center;
	justify-content: center;
}
.max_guest {
	width: 100px;
	background-image: url("../images/icon_group.png");
	background-repeat: no-repeat;
	background-position: top;
}
.number_rooms {
	width: 100px;
	background-image: url("../images/icon_bed.png");
	background-repeat: no-repeat;
	background-position: top;
}
.number_bathrooms {
	width: 100px;
	background-image: url("../images/icon_bath.png");
	background-repeat: no-repeat;
	background-position: top;
}

.max_guest p,
.number_rooms p,
.number_bathrooms p {
	margin-top: 50px;
	margin-bottom: 0;
	text-align: center;
}

.user {
	margin-top: 20px;
}
